* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#root {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

.cardContainer {
  /* width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
