* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100%;
  /* padding: 2rem; */
  text-align: center;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
